{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Título</title>
		{% block custom_css %}
		    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
		    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
			<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
			<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
			<link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>
			<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" type="text/css" media="all"/>
		{% endblock custom_css %}

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Content" />
	</head>
<body>
<!--banner-->
	<div class="banner-bg banner-bg1">	
		<div class="container">
			<div class="header">
				<div class="logo">
				 	<a href="{% url 'index' %}"><img src="images/logo.png" alt=""/></a>
		   		</div>							 
			  	<div class="top-nav">										 
					<label class="mobile_menu" for="mobile_menu"><span>Menú</span></label>
					<input id="mobile_menu" type="checkbox">
		   			<ul class="nav">
				  		<li class="dropdown1"><a class="scroll" href="#cate">Servicios</a>
					  		<!--<ul class="dropdown2">
								<li><a href="bicycles.html">FIXED / SINGLE SPEED</a></li>
								<li><a href="bicycles.html">CITY BIKES</a></li>
								<li><a href="bicycles.html">PREMIMUN SERIES</a></li>												
						  	</ul>-->
					  	</li>    					  						 	
					 	<li class="dropdown1"><a class="scroll" href="#contact">Contacto</a>
						 	<!--<ul class="dropdown2">
								<li><a href="accessories.html">LOCKS</a></li>
								<li><a href="accessories.html">HELMETS</a></li>
								<li><a href="accessories.html">ARM COVERS</a></li>
								<li><a href="accessories.html">JERSEYS</a></li>
						  	</ul>-->
					 	</li>               
					 	<li class="dropdown1"><a href="accessories.html">Información</a>
						 	<!--<ul class="dropdown2">
								<li><a href="404.html">CLASSIC BELL</a></li>
								<li><a href="404.html">BOTTLE CAGE</a></li>
								<li><a href="404.html">TRUCK GRIP</a></li>
						  	</ul>-->
				 		</li>
				  	</ul>
			 	</div>
			 	<div class="clearfix"></div>
		 	</div>
	  	</div>

	 	<div class="caption">
			<div class="slider">
		   		<div class="callbacks_container">
			   		<ul class="rslides" id="slider">
				    	<li><h1>HANDMADE BICYCLE</h1></li>
						<li><h1>SPEED BICYCLE</h1></li>	
						<li><h1>MOUINTAIN BICYCLE</h1></li>	
				  	</ul>
				  	<p>You <span>create</span> the <span>journey,</span> we supply the <span>parts</span></p>
				  	<a class="morebtn" href="bicycles.html">SHOP BIKES</a>
			  	</div>
		  	</div>
	 	</div>

		<div class="dwn">
			<a class="scroll" href="#cate"><img src="images/scroll.png" alt=""/></a>
	 	</div>				 
	</div>
<!--/banner-->

	<div id="cate" class="categories">
		<div class="container">
			<h3 style="margin:10px">ALQUILER DE BICIS</h3>
		 	<div class="col-md-4">
		 		<img src="../../images/c1.jpg" alt="">
		 	</div>
		 	<div class="col-md-8">
		 		<h4>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</h4>
		 		<div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Click Me</button></div>
				<!-- line modal -->
				<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h3 class="modal-title" id="lineModalLabel">REGISTRO</h3>
						</div>
						<div class="booking">
				            <!-- content goes here -->
							<form>
								 <i class="fa fa-user"></i><input class="user" type="text" placeholder="NOMBRE" required=""><br>
								 <i class="fa fa-envelope"></i><input class="user" type="text" placeholder="EMAIL" required=""><br>
								 <i class="fa fa-phone"></i><input class="user" type="text" placeholder="TELÉFONO" required=""><br>
								 <i class="fa fa-bicycle"></i><input id="num_bike" name="num_bike" type="text" placeholder=" BICIS" required=""><br>

								 <i class="fa fa-clock-o"></i><select name="" id="">
								 	<option value="--" selected="true">Tiempo</option>
								 	<option value="1">1h - 3€</option>
								 	<option value="1">3h - 8€</option>
								 	<option value="1">12h - 10€</option>
								 	<option value="1">24h - 15€</option>
								 </select><br>
								 <input type="submit" value="Reservar">
							</form>

						</div>
						
					</div>
				  </div>
				</div>
		 	</div>
			
		 	
			 <div class="clearfix"></div>
		 	</div>
	 	</div>
	</div>

<!--bikes-->
	<div class="bikes">	
 		<h3>POPULARES</h3>
	 	<div class="bikes-grids">			 
	 		<ul id="flexiselDemo1">
		 		<li>
			 		<img src="/images/bik1.jpg" alt=""/>
				 	<div class="bike-info">
				 		<div class="model">
					 		<h4>TEXTO<span>TEXTO</span></h4>							 
				 		</div>
					 	<!--<div class="model-info">
				     		<select>
						  		<option value="volvo">OPTION</option>
								  <option value="saab">Option</option>
								  <option value="opel">Option</option>
								  <option value="audi">Option</option>
					 		</select>
						 	<a href="bicycles.html">BUY</a>
					 	</div>-->						 
					 	<div class="clearfix"></div>
				 	</div>
				 	<div class="viw">
						<a href="bicycles.html">Detalles</a>
				 	</div>
			 	</li>
			 	<li>
			 		<img src="/images/bik1.jpg" alt=""/>
				 	<div class="bike-info">
				 		<div class="model">
					 		<h4>TEXTO<span>TEXTO</span></h4>							 
				 		</div>
					 	<!--<div class="model-info">
				     		<select>
						  		<option value="volvo">OPTION</option>
								  <option value="saab">Option</option>
								  <option value="opel">Option</option>
								  <option value="audi">Option</option>
					 		</select>
						 	<a href="bicycles.html">BUY</a>
					 	</div>-->						 
					 	<div class="clearfix"></div>
				 	</div>
				 	<div class="viw">
						<a href="bicycles.html">Detalles</a>
				 	</div>
			 	</li>
			 	<li>
			 		<img src="/images/bik1.jpg" alt=""/>
				 	<div class="bike-info">
				 		<div class="model">
					 		<h4>TEXTO<span>TEXTO</span></h4>							 
				 		</div>
					 	<!--<div class="model-info">
				     		<select>
						  		<option value="volvo">OPTION</option>
								  <option value="saab">Option</option>
								  <option value="opel">Option</option>
								  <option value="audi">Option</option>
					 		</select>
						 	<a href="bicycles.html">BUY</a>
					 	</div>-->						 
					 	<div class="clearfix"></div>
				 	</div>
				 	<div class="viw">
						<a href="bicycles.html">Detalles</a>
				 	</div>
			 	</li>
			 	<li>
			 		<img src="/images/bik1.jpg" alt=""/>
				 	<div class="bike-info">
				 		<div class="model">
					 		<h4>TEXTO<span>TEXTO</span></h4>							 
				 		</div>
					 	<!--<div class="model-info">
				     		<select>
						  		<option value="volvo">OPTION</option>
								  <option value="saab">Option</option>
								  <option value="opel">Option</option>
								  <option value="audi">Option</option>
					 		</select>
						 	<a href="bicycles.html">BUY</a>
					 	</div>-->						 
					 	<div class="clearfix"></div>
				 	</div>
				 	<div class="viw">
						<a href="bicycles.html">Detalles</a>
				 	</div>
			 	</li>
			 	<li>
			 		<img src="/images/bik1.jpg" alt=""/>
				 	<div class="bike-info">
				 		<div class="model">
					 		<h4>TEXTO<span>TEXTO</span></h4>							 
				 		</div>
					 	<!--<div class="model-info">
				     		<select>
						  		<option value="volvo">OPTION</option>
								  <option value="saab">Option</option>
								  <option value="opel">Option</option>
								  <option value="audi">Option</option>
					 		</select>
						 	<a href="bicycles.html">BUY</a>
					 	</div>-->						 
					 	<div class="clearfix"></div>
				 	</div>
				 	<div class="viw">
						<a href="bicycles.html">Detalles</a>
				 	</div>
			 	</li>
			 	<li>
			 		<img src="/images/bik1.jpg" alt=""/>
				 	<div class="bike-info">
				 		<div class="model">
					 		<h4>TEXTO<span>TEXTO</span></h4>							 
				 		</div>
					 	<!--<div class="model-info">
				     		<select>
						  		<option value="volvo">OPTION</option>
								  <option value="saab">Option</option>
								  <option value="opel">Option</option>
								  <option value="audi">Option</option>
					 		</select>
						 	<a href="bicycles.html">BUY</a>
					 	</div>-->						 
					 	<div class="clearfix"></div>
				 	</div>
				 	<div class="viw">
						<a href="bicycles.html">Detalles</a>
				 	</div>
			 	</li>
	    	</ul>
		</div>
	</div>

<!---->
	<div id="contact" class="contact">
		<div class="container">
			<h3>Contacto</h3>
			<!--<p>Please contact us for all inquiries and purchase options.</p>-->
			<form>
				 <input type="text" placeholder="NOMBRE" required="">
				 <input type="text" placeholder="APELLIDOS" required="">			 
				 <input class="user" type="text" placeholder="EMAIL" required=""><br>
				 <textarea placeholder="MENSAJE"></textarea>
				 <input type="submit" value="Enviar">
			</form>
		</div>
	</div>

<!---->
	<div class="footer">
	 	<div class="container wrap">
			<div class="logo2">
			 	<a href="{% url 'index' %}"><img src="/images/logo2.png" alt=""/></a>
			</div>
			<div class="ftr-menu">
	 			<ul>
					<li><a class="scroll" href="#cate">SERVICIOS</a></li>
					<li><a class="scroll" href="#contact">CONTACTO</a></li>
					<li><a href="#">INFORMACIÓN</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
	 	</div>
	</div>

<!---->
	<div class="footer-bottom">
		<div class="container">		
			<p>
           		© 2015 Made with <i class="fa fa-heart" style="color:red"></i>
	          <a class="social" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
	          <a class="social" href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
     		</p>
		</div>
	</div>
</body>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src=" {% static 'js/jquery.easydropdown.js' %}"></script>
	
	<script type="text/javascript" src=" {% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src=" {% static 'js/classie.js' %}"></script>
	<script type="text/javascript" src=" {% static 'js/easing.js' %}"></script>
	<script type="text/javascript" src=" {% static 'js/imagezoom.js' %}"></script>
	<script type="text/javascript" src=" {% static 'js/jquery.easydropdown.js' %}"></script>
	<script type="text/javascript" src=" {% static 'js/jquery.flexisel.js' %}"></script>
	<script type="text/javascript" src=" {% static 'js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript" src=" {% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src=" {% static 'js/responsiveslides.min.js' %}"></script>

	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
			});
		});
	</script>
	<script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
  <script type="text/javascript">
	$(window).load(function() {			
	$("#flexiselDemo1").flexisel({
	visibleItems: 3,
	animationSpeed: 1000,
	autoPlay: true,
	autoPlaySpeed: 3000,    		
	pauseOnHover:true,
	enableResponsiveBreakpoints: true,
	responsiveBreakpoints: { 
		portrait: { 
			changePoint:480,
			visibleItems: 1
		}, 
		landscape: { 
			changePoint:640,
			visibleItems: 2
		},
		tablet: { 
			changePoint:768,
			visibleItems: 3
		}
	}
	});
	});
	</script>

</html>

